
.intro-container {
    width: 100%;
    min-height: ovh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: #f4f4f4;
  }
  
  .header {
    width: 100%; 
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    z-index: 1000;
}

  
  .header-content {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .header-left {
    display: flex;
    flex-direction: column;
    margin-right: 900px;
  }
  
  .platforminfo5 {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    padding-left: 0px;
    line-height: 7px;
    margin-top: 10px;
  }
  
  .platform-heading5 {
    font-size: 15px;
    font-weight: 700;
    color: #580000;
    margin-left: 0px;
    
  }
  
  .university-name5 {
    font-size: 13.6px;
    font-weight: 500;
    color: #666;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 0px;
    
    
  }
  
  .logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: absolute;
    left: 5cqb;
  }
  
  .courses-link {
    font-size: 14px;
    font-weight: 600;
    color: #580000; 
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0; 
    background: none;
    border: none; 
    outline: none; 
    padding-right: 60px;
  }
  
  .courses-link:hover {
    color: #3498db; 
  }
  
  .separator {
    height: 1px;
    width: 100%;
    background-color: #ecf0f1;
    margin: 20px 0;
  }
  
  
  .login-btn {
    background: linear-gradient(90deg, #a76807, #580000);
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 11px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 70px;
    
  }
  
  .login-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .login-btn:focus {
    box-shadow: 0 0 0 3px rgba(41, 128, 185, 0.6);
  }
  
  .login-btn-text {
    display: block;
    text-align: center;
    transition: opacity 0.3s ease;
  }
  
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      padding: 20px;
      text-align: center;
    }
  
    .header-left {
      margin-right: 0;
      
    }
  
    .courses-link {
      margin-top: 10px;
    }
  
    .login-btn {
      margin-top: 20px;
    }
  }
  